@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
.collection_sec {
  display: flex;
  flex-direction: column;
  position: relative;
  background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
  opacity: 20;
  padding: 2cm 0;
  overflow: hidden;
  border-top: 2px solid white;
  align-items: center;
  justify-content: center;

}

.marqure_h1 {
  z-index: 99;
  color: white;
  font-size: 1.3cm;
  margin: 1cm;  
  font-family: 'Poppins', sans-serif;
}

.marqure_h1 >span
{
    font-family: 'Monoton', cursive;
    font-weight: 50;
}
.collection_sec >svg {
  position: absolute;
  top: 0;
  z-index: 88;
}
.img_marquee {
  width: 100vw;
  display: flex;
  overflow: hidden;
  position: relative;
/* background: rgba(255, 255, 255, 0.12); */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}


.collection_image {
  width: 15vw;
  margin: 0.5vw;
  height: auto;
  animation-name: scrolling;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  border-radius: 0.2cm;
  animation-timing-function: linear;
}

@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-96vw);
  }
}

.m2 {
  animation-direction: reverse;
}
