.getstarted_today
{
    color: rgb(247, 100, 244);
    font-family: 'Carlito', sans-serif;
    font-size: 25px;
    margin-bottom: 0.5cm;
}
.getstarted_start
{   
    padding: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.getstarted_text1
{
    font-size: 60px;
    font-family: 'Carlito', sans-serif;
}
.getstarted_text2
{
    color: rgb(121, 120, 118);
    font-family: 'Carlito', sans-serif;
}
.getstarted_button
{
    margin-top: 15px;
    border: none;
    height: 60px;
    width: 220px;
    background-color: #000000;
    border-radius: 30px;
}
    .getstarted_content
    {
        margin: 0.5cm 0;
    }

    .getstarted_btn > div
    {
        height: 41px;
        width: 1cm; 
    }



.getstarted_btn
{
    height: 1.5cm;
    font-size: 0.4cm;
    font-weight: bold;
    width: 6.5cm;
    border-radius: 1cm;
    margin-left: 0.5cm;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
a
{
    text-decoration: none;
}
.getstarted_btn::before
{   
    width: 0;
    height: 100%;
    background-color: rgb(55, 55, 55);
    z-index: 0;
    position: absolute;
    top: 0;
    right:0;
    content: "";
    transition-duration: 0.5s;
}
.getstarted_btn:hover
{
    color: white;
    background-color: none;
    border-color: white;
    /* cursor: url("../image/thumb.png"), auto; */
    /* cursor: col-resize, auto; */
}

.getstarted_btn:hover::before
{   
    right: auto;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    z-index: -1;
    background-color: rgb(55, 55, 55);
    /* cursor: col-resize, auto; */
}

.getstarted_img1
{
    height: 5cm;
    border-radius: 0.5cm;
}

.getstarted_btn >span 
{
 font-weight: bolder;
 font-size: larger;
 margin-left: 0.5cm;
}