@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,700&family=Monoton&family=Roboto+Condensed:wght@300;400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Carlito', sans-serif;
    font-family: 'Argon', sans-serif;
}
::-webkit-scrollbar{
    width: 0cm;
}

